<%- include('header') %>
<!-- Section-->
  <section class="page-section mb-0" > 
    <div class="container my-section">
      <h1><%= __('LISTADO SELECCIONADO') %></h1>
      <% products.forEach( function(product) { %>
        <div class="card" style="width: 400px;">
          <div class="my-image">
            <img src="<%= `/images/${product.image}` %>" alt="product">
          </div>
          <div class="card-body">
            <% if (product.name) { %>
              <h5 class="card-title"><%= product.name %></h5>
            <% } %>
            <% if (product.price) { %>
              <h5 class="card-title"><%= product.price %></h5>
            <% } %>
            <% if(product.sale !== undefined) { %>
              <% if(product.sale) {%>
                <p class="card-text"><%= __('Tipo: Venta') %></p>
              <% } else { %>
                <p class="card-text"><%= __('Tipo: Compra') %></p>
              <% } %>
            <% } %>
            <% if (product.tags !== undefined) { %>
              <p class="card-text"><%= __('Tag') %>: <%= product.tags[0] %></p>
            <% } %>
            <a href="#" class="btn btn-primary"><%= __('Comprar') %></a>
            <a href="#" class="btn btn-primary"><%= __('Borrar') %></a>
          
          </div>
        </div>
        <% }) %>
    </div>
  </section>
<%- include('footer') %>

 