<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>LISTADO SELECCIONADO</h1>
    <% products.forEach( function(product) { %>
      <p><b>=================================</b></p>
      <% if (product.name) { %>
        <h3><%= product.name %></h3>
      <% } %>
      <% if (product.price) { %>
        <p>Precio: <%= product.price %> €</p>
      <% } %>
      <% if(product.sale !== undefined) { %>
        <% if(product.sale) {%>
          <p>Tipo: Venta</p>
        <% } else { %>
          <p> Tipo Búsqueda</p>
        <% } %>
      <% } %>
      <% if (product.tags !== undefined) { %>
        <p>Tag: <%= product.tags[0] %></p>
      <% } %>
      <% if (product.image) { %>
        <p>Foto: <%= product.image %></p>
      <% } %>
      <% if (product._id) { %>
        <p>ID: <%= product._id %></p>
      <% } %>
    <% }) %>
  </body>
</html>
