<%- include('header') %>
<!-- Section-->
  <section class="page-section mb-0" > 
    <div class="container my-section">
      <h1><%= __('LISTADO SELECCIONADO') %></h1>
      <br>
      <div class='my-user-div'>
        <h3><%= __('User') %>: <%= email %></h3>
        <a class="my-add" href="/newProduct">
          <img src="/images/mas.png" alt="add" height="60px">
        </a>
      </div>
      <br>
      <br>
      <div class="my-grid">
      <% products.forEach( function(product) { %>
        <div class="card" style="width: 300px;">
          <div class="my-image">
            <img src="<%= `/images/${product.image}` %>" alt="product">
          </div>
          <a href="javascript:void(0)" onclick="deleteAd('<%= product.name %>', '<%= product._id %>')" class="btn btn-primary my-button"><%= __('Borrar') %></a> 
          <div class="card-body">
            <% if (product.name) { %>
              <h5 class="card-title"><%= product.name %></h5>
            <% } %>
            <% if (product.price) { %>
              <h5 class="card-title"><%= product.price %></h5>
            <% } %>
            <% if(product.sale !== undefined) { %>
              <% if(product.sale) {%>
                <p class="card-text"><%= __('Tipo: Venta') %></p>
              <% } else { %>
                <p class="card-text"><%= __('Tipo: Compra') %></p>
              <% } %>
            <% } %>
            <% if (product.tags !== undefined) { %>
              <p class="card-text"><%= __('Tag') %>: <%= product.tags.join(",  ") %></p>
            <% } %>     
          </div>
        </div>
      <% }) %>
      </div>
    </div>
  </section>
  <script>
    function deleteAd(name, id) {
      //alert('Estoy aqui')
      if (confirm(`¿Estas seguro que quieres eliminar el anumcio ${name}?`)) {
        window.location.href = `/deleteProduct/${ id }`
      }
    }
  </script>
  <br>
  <br>
<%- include('footer') %>